@font-face {
  font-family: font;
  src: url("../assets/Everett-Medium.otf");
}

@font-face {
  font-family: font-light;
  src: url("../assets/Everett-Light.otf");
}
* {
  flex-shrink: 0;
  color: white;
  font-family: font-light;
}

