@import url('../chairs/chairs.component.css');

.dropper {
    font-family: fontEveret;
    font-size: 24px;
    text-decoration: underline;
    cursor: pointer;
    color:white;
}
ul {
    list-style-type: circle;
}
li {
    font-family: fontEveret;
    display: list-item !important;
    line-height: 26px;
    list-style: circle;
    overflow: visible;
    color:white;
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
}
@media screen and (max-width: 800px) {
    .dropper {
        font-size: 20px;
        width: 70vw;
      }
      ul{
        width: 70vw;
      }
      
    
  }