.container {
  height: 100vh;
  width: 100%;
  background-color: #4bcb5e;
  background-size: cover;
  background-position: center;
}
.content {
  height: 100vh;
  width: 100%;
  display: block;
  justify-content: center;
  text-align: center;
  color:#0b2240;
  font-size:400%;
  padding-top: 2%;
  box-sizing: border-box;
}
.exit{
    padding-left: 70%;
}