<div class="container">
        <div class="exit" (click)="$isNotVisible.toggleVisible()"><img src="../../../assets/xSign.svg" ></div>
                <div (click)="navigateTo('Home/important-dates')">IMPORTANT DATES</div>
                <!-- <div (click)="navigateTo('chairs')">CHAIRS</div> -->
                <div (click)="navigateTo('Home/committee')">COMMITTEE</div>
                <div (click)="navigateTo('Home/location')">LOCATION</div>
                <div (click)="navigateTo('Home/accomodation')">ACCOMMODATION</div>
                <div (click)="navigateTo('Home/registration')">REGISTRATION</div>
                <div (click)="navigateTo('Home/organisation')">ORGANIZATION</div>
                <div (click)="navigateTo('Home/contact')">CONTACT</div>
</div>
