<div class="container">
        <div class="exit" (click)="$isNotVisible.toggleVisible()"><img src="../../../assets/xSign.svg" ></div>
                <div (click)="navigateTo('important-dates')">IMPORTANT DATES</div>
                <div (click)="navigateTo('chairs')">CHAIRS</div>
                <div (click)="navigateTo('committee')">COMMITTEE</div>
                <div (click)="navigateTo('location')">LOCATION</div>
                <div (click)="navigateTo('accomodation')">ACCOMMODATION</div>
                <div (click)="navigateTo('registration')">REGISTRATION</div>
                <div (click)="navigateTo('organisation')">ORGANIZATION</div>
                <div (click)="navigateTo('contact')">CONTACT</div>
</div>
