@import url("../chairs/chairs.component.css");
* {
  color: white;
}
.hotelName {
  font-size: 32px;
  font-family: font;
  text-align: center;
}
.hotelDescription{
  max-width: 90vw;
  text-align: left;
  font-size: 16px;
    line-height: 18px;
}

@media screen and (max-width: 800px) {
  .hotelName {
    font-size: 25px;
  }
  .hotelDescription{
    font-size: 10px;
  }
  .comitee-subtitle#accomodation {
    font-size: 32px;
    padding-left: 20px;
  }
}
