<div class="comitee-subtitle" id="accomodation" style="margin-bottom: 20px">
  ACCOMODATION
</div>
    <div class="hotelName">Hotel Elaphusa****, Bol</div>
<div
 class="hotelDescription"
>
  Conference center of Bluesun hotel Elaphusa is ideal for hosting all types of
  conference events and cultural manifestations. There are total of 5 conference
  halls.<br />
  The largest hall has the capacity of 800 seats, while the other 4 can
  accommodate 10 to 120 people.<br />For the Conference participants
  <span style="font-family: fontEveret; color: #4bcb5e">SPECIAL PRICES</span> will be
  applied. First-class hotel accommodation on the island of Brac
</div>
<!-- <div style="margin-top: 10px; text-align: center;">
  Accommodation can be booked
  <a
    href="https://secure.phobs.net/booking.php?company_id=bdc80220fc72497948503c840c404230&partners_access=SPLITECH2024"
    ><span style="text-decoration: underline; font-family: font; color: #4bcb5e"
      >here.</span
    ></a
  >
</div> -->
