* {
    color: #4bcb5e;
  }
  .container {
    height: 100vh;
    width: 100%;
   background-image: url('../../../assets/blueBackground-svg.svg');
    background-size: cover;
    background-position: center;
    padding: 0 5% 0 15%;
    box-sizing: border-box;
    overflow: hidden;
  }
  .content {
    height: 100vh;
    width: 100%;
    position: relative; 
  }
  
  .goForMenu {
    font-size: 1500%;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .mainContent {
    display: flex;
    justify-content: space-between;
    text-align: center;
    min-height: 200px;
    background-color: azure;
    border-radius: 20px;
    margin-bottom: 3%;
  }
  .secArrow {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .future {
    font-size: 1500%;
    transform: translateY(50%); 
    top: 60%;
    position: absolute; /* Koristite apsolutno pozicioniranje */
   
  }
  .firstLine{
    transform: translateY(-45%);
    position: relative;
    top: 50%;
    padding-left:1.5%;
  }
  