.container {
  height: 100vh;
  width: 100%;
  background-image: url("../../../assets/blueBackground-svg.svg");
  background-size: cover;
  background-position: center;
  padding: 2% 5% 5% 15%;
  box-sizing: border-box;
}
.content {
  height: 100vh;
  width: 100%;
}
.logo img {
  width: 150px;
  height: 70px;
}

.logoMenu {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #4bcb5e;
}
.futureArrow {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #4bcb5e;
}
.arrow {
  padding-top: 13%;
}
.firstLine,
.tirthLine {
  font-size: 14vw;
  color: #4bcb5e;
  font-family: "Varent Grotesk Bold";
  font-weight: bold;
}
.secondLine {
  color: white;
  font-size: x-large;
  font-family: "Everett Regular";
}
.longLine {
  display: inline-block;
  width: 20%;
  height: 1px;
  background-color: #4bcb5e;
  margin: 0 10px;
}
.firstLine {
  position: relative;
}
.applyNow {
  position: absolute;
  left: 73%;
  bottom: -57%;
  /* transform: translateX(
    -50%
  );  */
}
