.container {
    height: 100vh;
    width: 100%;
    background-color: #0b2240;
    background-size: cover;
    background-position: center;
    padding: 5% 5% 5% 15%;
    box-sizing: border-box;
  }
  .content {
      height: 100vh;
      width: 100%;
    
    }
  .logo img {
    width: 100px;
    height: 50px;
  
  }
  
  .logoMenu {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color:#4bcb5e;
  }
  .futureArrow{
    display: flex;
    justify-content: space-between;
    text-align: center;
    color:#4bcb5e;
  }
  .arrow{
      padding-top: 15%;
  }
  .firstLine, .tirthLine{
      font-size: 1500%;
      color:#4bcb5e;
  }
  .secondLine{
      color: aliceblue;
      font-size: medium;
  }