<div class="contact" id="contact">
        <div>
            <div style="font-family: font; font-size: 32px">CONTACT</div>
            <div style="font-size: 16px">FESB, University of Split</div>
            <div style="font-size: 16px">Rudjera Boskovica 32</div>
            <div style="font-size: 16px">21000 Split, Croatia</div>
            <div style="margin-top: 20px; font-family: fontEveret;">splitech@fesb.hr</div>
            <div style="font-family: fontEveret">info@splitech.org</div>
            <div>T: +385 21 305 632</div>
            <div>F: +385 21 305 776</div>
        </div>
        <div style="display: flex; flex-direction: column">
            <a href="https://www.facebook.com/SpliTechConf">
                <div class="icon fb-icon"></div>
            </a>
            <a href="https://www.twitter.com/SpliTechConf">
                <div class="icon twitter-icon"></div>
            </a>
            <a href="https://www.instagram.com/SpliTechConf">
                <div class="icon instagram-icon"></div>
            </a>
            <a href="https://www.linkedin.com/company/splitechconference/">
                <div class="icon linkedin-icon"></div>
            </a>
        </div>
</div>

