.footer {
 
  padding: 80px;
  padding-bottom: 200px;
  background-color: #4bcb5e;
  background-size: cover;
  color: white;
  margin-top: 100px;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100em;
}
.icon {
  width: 30px;
  height: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-right: 20px;
  filter: invert(1);
}

.fb-icon {
  background-image: url("https://img.icons8.com/material/344/facebook-new.png");
}

.instagram-icon {
  background-image: url("https://img.icons8.com/material/344/instagram-new--v1.png");
}

.twitter-icon {
  background-image: url("https://img.icons8.com/material/344/twitter-squared.png");
}

.linkedin-icon {
  background-image: url("https://img.icons8.com/material/344/linkedin--v1.png");
}
