.comitee-subtitle {
    z-index: 3;
    margin-top: 80px;
    color: white;
    font-family: font;
    font-size: 62px;
    position: relative;
    text-align: start;
    align-self: flex-start;
    /* padding-left: 30px; */
    overflow: visible;
  }
.rita[_ngcontent-sde-c5] {
    background-image: url(https://2023.splitech.org/rita.34bb470544f8fce3.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
    width: 300px;
    height: 200px;
    filter: brightness(0) invert(1);
}
.margin{
  margin-bottom: 300px;
}
@media screen and (max-width: 800px) {
    .comitee-subtitle {
      font-size: 27px;
      letter-spacing: 2px;
      justify-content: center;
    }
    .rita[_ngcontent-sde-c5] {
        background-image: url(https://2023.splitech.org/rita.34bb470544f8fce3.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        align-self: center;
        padding-top: 200px;
        width: 200px;
        height: 100px;
        filter: brightness(0) invert(1);
    }
  }