<div class="container">
  <div class="content">
    <div class="goForMenu">
      <div class="firstLine">GO FOR</div>
      <div class="menu">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="currentColor"
          class="bi bi-list"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
          />
        </svg>
      </div>
    </div>

    <div class="mainContent">
      <div class="nine">9</div>
      <div class="conferenceName">
        INTERNATIONAL CONFERENCE ON SMART AND SUSTAINABLE TECHNOLOGIES
      </div>
    </div>

    <div class="secArrow">
      <div class="secondLine">SpliTech 2023 - Split - Bol, July 20th, 2024</div>
      <div class="arrow">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="currentColor"
          class="bi bi-arrow-down"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"
          />
        </svg>
      </div>
    </div>
    <div class="future">FUTURE</div>
  </div>
</div>
