
.container {
  height: 100vh;
  width: 100%;
 background-image: url('../../../assets/blueBackground-svg.svg');
  background-size: cover;
  background-position: center;
  padding: 0 5% 0 15%;
  box-sizing: border-box;
  overflow: hidden;
}
.content {
  height: 100vh;
  width: 100%;
}

.goForMenu {
  font-size: 1500%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-left:20px;
}
.mainContent {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.secArrow {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color:#4bcb5e;
}
.future {
  font-size: 1500%;
  transform: translateY(50%); 
  position: relative;
  top: 15%;
  color:#4bcb5e;
  font-family: "Varent Grotesk Bold";
}
.firstLine{
  transform: translateY(-45%);
  position: relative;
  top: 50%;
  color:#4bcb5e;
  font-family: "Varent Grotesk Bold";
}
