<div class="container">
    <div class="goForMenu">
      <div class="firstLine">GO FOR</div>
      <div class="menu">
        <img src="../../../assets/greenIzbornik.svg">
      </div>
    </div>

    <div class="mainContent">
      <div class="nine">9</div>
      <div class="conferenceName">
        INTERNATIONAL<br> CONFERENCE <br> ON SMART AND <br> SUSTAINABLE<br> TECHNOLOGIES
      </div>
    </div>

    <div class="secArrow">
      <div class="secondLine">{{spliTech2023}}<span class="longLine"></span>{{spliTech2024}}</div>
      <div class="arrow">
        <img src="../../../assets/greenStrelica.svg">
      </div>
    </div>
    <div class="future">FUTURE!</div>
</div>
