:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  display:none;
  transition: opacity 0.5s ease; 
}
.container {
  height: 100vh;
  width: 100%;
  background-image: url('../../../assets/blueBackground-svg.svg');
  background-size: cover;
  background-position: center;
  padding: 0 5% 0 15%;
  box-sizing: border-box;
  overflow: hidden;
}
.content {
  height: 100vh;
  width: 100%;
  position: relative;
}
.goForMenu {
  display: flex;
  justify-content: space-between;
  text-align: center;
  top: 0; 
  transform: translateY(-45%); 
}
.menu{
  padding-top: 17vh;
}
.firstLine{
  font-size: 13vw;
  color:#4bcb5e;
  font-family: "Varent Grotesk Bold";
}
.mainContent {
  display: flex;
  text-align: center;
  max-height: 50vh;
  position:relative;
}
.secondLine {
  color: white;
  font-size: x-large;
  font-family: "Everett Regular";
  padding-top: 4vh;
}
.longLine {
  display: inline-block;
  width: 20%;
  height: 1px;
  background-color:#4bcb5e;
  margin: 0 10px;
 
}
.future {
  position: absolute;
  font-size: 13vw;
  transform: translateY(45%); 
  color:#4bcb5e;
  font-family: "Varent Grotesk Bold";
}
.arrow{
  float:right;
}
.nine{
  font-family: "Varent Grotesk Bold";
  font-size: 60em;
  color:white;
  position:absolute;
  transform: translateY(-50%);
}
.conferenceName{
padding-left: 40vw;
  color:#4bcb5e;
  font-size: 4vw;
  font-family: "Varent Grotesk Bold";
}
@media (max-width: 1200px) {
 .goForMenu{

  transform: translateY(-35%); 
 }
 .future{
  transform: translateY(300%); 
 }
}

@media (max-width: 1000px) {
  .goForMenu{
 
   transform: translateY(-35%); 
  }
  .future{
   transform: translateY(300%); 
  }
 }
 