<div class="container">
  <div class="content">
    <div class="logoMenu">
      <div class="logo"><img src="../../../assets/logoBijeli.svg" /></div>
      <div class="menu">
        <img src="../../../assets/blueIzbornik.svg" />
      </div>

    </div>
    <div class="title">
      <div class="firstLine">GO FOR</div> 
      <div class="applyNow"><img src="../../../assets/applyNow.svg"/></div>
      <div class="secondLine">{{spliTech2023}}<span class="longLine"></span>{{spliTech2024}}</div>
      <div class="futureArrow">
        <div class="tirthLine">FUTURE!</div>
        <div class="arrow">
          <img src="../../../assets/blueStrelica.svg" />
        </div>
      </div>
    </div>
  </div>
</div>
