.container {
  height: 100vh;
  width: 100%;
  padding: 2% 5% 5% 15%;
}
.logo img {
  width: 150px;
  height: 70px;
}
.logoMenu {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.futureArrow {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.arrow {
  padding-top: 13%;
}
.firstLine,
.tirthLine {
  font-size: 13vw;
  font-family: "Varent Grotesk Bold";
  font-weight: bold;
  position: relative;
}
.secondLine {
  color: white;
  font-size: x-large;
  font-family: "Everett Regular";
}
.longLine {
  display: inline-block;
  width: 20%;
  height: 1px;
  margin: 0 10px;
  vertical-align: middle;
}
.applyNow {
  position: absolute;
  left: 73%;
  top: 35%;
}

.styleGreen {
  background-image: url("../../../assets/greenBackground-svg.svg");
  background-size: cover;
  background-position: center;
  color: #0b2240;
  transition: ease 1s;
  .longLine {
    background-color: white;
  }
}

.styleBlue {
  background-image: url("../../../assets/blueBackground-svg.svg");
  background-size: cover;
  background-position: center;
  transition: ease 1s;
  color: #4bcb5e;
  .longLine {
    background-color:  #4bcb5e;
  }
}

.canvas{
  width:100vw;
  height:0px;
  background-color: rebeccapurple;
}