:host {
  --canvas-height: 1400;
}
.container {
  height: 100vh;
  width: 100%;
  padding: 2% 15% 5% 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100vh;
}
.logo img {
  width: 150px;
  height: 70px;
}
.logoMenu {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.menu {
  position: absolute;
  left: 90%;
  top: 10%;
}
.futureArrow {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.arrow {
  position: absolute;
  left: 90%;
  top: 70%;
}
.firstLine,
.tirthLine {
  font-size: 13vw;
  font-family: "fontVarent";
  font-weight: bold;
  position: relative;
}
.secondLine {
  color: white;
  font-size: x-large;
  font-family: "fontEveret";
}
.longLine {
  display: inline-block;
  width: 20%;
  height: 1px;
  margin: 0 10px;
  vertical-align: middle;
}
.applyNow {
  z-index: 90;
  position: absolute;
  left: 73%;
  top: 35%;
}

.styleGreen {
  background-image: url("../../../assets/greenBackground-svg.svg");
  background-size: cover;
  background-position: center;
  color: #0b2240;
  transition: ease 1s;
  .longLine {
    background-color: white;
  }
}

.styleBlue {
  background-image: url("../../../assets/blueBackground-svg.svg");
  background-size: cover;
  background-position: center;
  transition: ease 1s;
  color: #4bcb5e;
  .longLine {
    background-color: #4bcb5e;
  }
}

.canvas {
  width: 100%;
  height: 0px;
  overflow: auto;
  transition: height ease-in-out 700ms;
  overscroll-behavior: contain;
  position: relative;
}
#canvas::-webkit-scrollbar-thumb {
  display: none;
}

#canvas::-webkit-scrollbar {
  width: 0rem;
}

#canvas::-webkit-scrollbar-track {
  background: transparent;
}

#canvas::-webkit-scrollbar-thumb {
  background: transparent;
}
/* content unutar canve*/

.mainContentPlayGround {
  display: flex;
  text-align: center;
  height: 45vh;
  margin-bottom: 200px;
  position: relative;
}
.mainContentContent {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 45vh;
  background-color: transparent;
  border-color: rgba(222, 234, 234, 0);
  border: 2px solid #4bcb5e;
  border-radius: 20px;
  margin-bottom: 3%;
  padding: 50px;
  position: relative;
}

.programme {
  position: absolute;
  top: -170px;
  left: 100px;
}
.virtualAcess {
  position: relative;
  top: 150px;
}
.nameOfContentSection {
  color: #4bcb5e;
  font-size: 5em;
  text-transform: uppercase;
}
@media screen and (max-width: 800px) {
  :host {
    --canvas-height: 500;
  }
  .container {
    position: relative;
    height: 100vh;
    width: 100%;
  }
  .firstLine,
  .tirthLine {
    font-size: 50px;
  }
  .secondLine {
    color: white;
    font-size: 15px;
    font-family: "fontEveret";
  }
  .mainContent {
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
    position: relative;
    top: 200px;
    right:-10px;
  }
  .mainContentPlayGround {
    display: flex;
    text-align: center;
    height: 45vh;
    margin-bottom: 200px;
    position: relative;
  }
  .nine {
    font-size: 40px;
    /* transform: translateY(20%); */
    z-index: 1;
    margin: 0;
  }
  .conferenceName {
    font-size: 5px;
    /* transform: translateY(40%); */
    text-align: center;
    z-index: 20;
  }
  .futureArrow {
    padding-top: 20px;
  }
  .logo img {
    width: 90px;
    height: 40px;
  }
  .logoMenu {
    position: relative;
    bottom: 120px;
  }
  .menu img {
    width: 50px;
    height: 50px;
  }
  .menu {
    position: absolute;
    left: 80%;
    top: 10%;
  }
  .applyNow img {
    width: 80px;
    height: 80px;
  }
  .applyNow {
    position: absolute;
    left: 73%;
    top: -20%;
    z-index: 2;
  }
  .arrow {
    padding-top: 8%;
  }
  .arrow img {
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 1800px) {
  :host {
    --canvas-height: 1000;
  }
}


.roko-open {
  height: 700px;
}

.roko-devetka-velika {
  transform-origin: center;
  transform: scale(3,3);
}

.title {
  overflow-y: visible;

}

.element {
  transition:  all 700ms;
  position: absolute;
  transform-origin: top;
}

.element-shown {
  opacity: 1;
}

.element-hide {
  opacity: 0;
  transform: scale(0.1);
}
.canvas{
  margin:0 0 30px 0;
  border-color: rgba(222, 234, 234, 0);
  border: 2px solid #4bcb5e;
  border-radius: 20px;
}
