<div class="logoVertical" *ngIf="this.$showcase.isCoverOpen"><img src="../../../assets/logoBijeli.svg" /></div>

<!-- add some style for authors able -->
<div class="authors" (click)="navigateTo('cfp')"><img src="../../../assets/Authors-svg.svg" /></div> 

<div class="menu" *ngIf="this.$showcase.isCoverOpen" id="menu" (click)="$isVisible.toggleVisible()">
  <img [src]="activeStyle[1]" />
</div>

<div class="arrow" *ngIf="this.$showcase.isCoverOpen">
  <img [src]="activeStyle[2]" style="transition: ease 1s" />
</div>
<div class="container" id="main-container" [ngClass]="activeStyle[0]">
  <div class="logoMenu">
    <div class="logo"><img src="../../../assets/logoBijeli.svg" /></div>
  </div>
  <div class="title">
    <div class="firstLine" id="goFor">GO FOR</div>


    <div class="canvas" [style.height]="this.$showcase.isCoverOpen ? calculatedHeight : '0px'" id="canvas">

      <!-- <div class="mainContentPlayGround">
          <div class="registration" ><img src="../../../assets/Registration-svg.svg"></div>
          <div class="programme" ><img src="../../../assets/Programme-svg.svg"></div>
          <div class="virtualAcess" ><img src="../../../assets/Virtual_access-svg.svg"></div>
          <div class="authors" ><img src="../../../assets/Authors-svg.svg"></div>
          <div class="accomodation" ><img src="../../../assets/Accomodation-svg.svg"></div>
        </div> -->

      <app-title id="title" class="element alignSelf"
        [ngClass]="{'element-show' : $showcase.elements['title'], 'element-hide' : !$showcase.elements['title'] }"></app-title>
      <app-accomodation id="accomodation" class="element"
        [ngClass]="{'element-show' : $showcase.elements['accomodation'], 'element-hide' : !$showcase.elements['accomodation'] }"></app-accomodation>
      <!-- <app-chairs id="chairs" class="element"
        [ngClass]="{'element-show' : $showcase.elements['chairs'], 'element-hide' : !$showcase.elements['chairs'] }"></app-chairs> -->
      <app-committee id="committee" class="element"
        [ngClass]="{'element-show' : $showcase.elements['committee'], 'element-hide' : !$showcase.elements['committee'] }"></app-committee>
      <app-contact id="contact" class="element"
        [ngClass]="{'element-show' : $showcase.elements['contact'], 'element-hide' : !$showcase.elements['contact'] }"></app-contact>
      <app-important-dates id="important_dates" class="element alignSelf"
        [ngClass]="{'element-show' : $showcase.elements['important_dates'], 'element-hide' : !$showcase.elements['important_dates'] }"></app-important-dates>
      <app-location id="location" class="element"
        [ngClass]="{'element-show' : $showcase.elements['location'], 'element-hide' : !$showcase.elements['location'] }"></app-location>
      <app-organization id="organization" class="element"
        [ngClass]="{'element-show' : $showcase.elements['organization'], 'element-hide' : !$showcase.elements['organization'] }"></app-organization>
      <app-registration id="registration" class="element"
        [ngClass]="{'element-show' : $showcase.elements['registration'], 'element-hide' : !$showcase.elements['registration'] }"></app-registration>
      <app-cfp id="cfp" class="element"
        [ngClass]="{'element-show' : $showcase.elements['cfp'], 'element-hide' : !$showcase.elements['cfp'] }"></app-cfp>
      <app-sponsors id="sponsors" class="element"
        [ngClass]="{'element-show' : $showcase.elements['sponsors'], 'element-hide' : !$showcase.elements['sponsors'] }"></app-sponsors>
      <app-symposia id="symposia" class="element"
        [ngClass]="{'element-show' : $showcase.elements['symposia'], 'element-hide' : !$showcase.elements['symposia'] }"></app-symposia>
      <app-supporters id="supporters" class="element"
        [ngClass]="{'element-show' : $showcase.elements['supporters'], 'element-hide' : !$showcase.elements['supporters'] }"></app-supporters>
      <app-special-session id="specialSession" class="element"
        [ngClass]="{'element-show' : $showcase.elements['specialSession'], 'element-hide' : !$showcase.elements['specialSession'] }"></app-special-session>
    </div>
    <div class="secondLine">SpliTech 2024<span class="longLine"></span>Split - Bol, June 25-28, 2024</div>
    <div class="futureArrow">
      <span class="tirthLine" id="future">FUTURE!</span>
    </div>
  </div>
</div>