<div class="container" [class]="styles[currentStyleIndex]">
    <div class="logoMenu">
      <div class="logo"><img src="../../../assets/logoBijeli.svg" /></div>
     
    </div>
    <div class="title">
      <div class="firstLine" id="goFor">GO FOR</div> 
      <div class="menu" id="menu" (click)="toggleVisible()">
        <img [src]="imagesIzbornik[currentImageIndex]" style="transition: ease 1s;" />
      </div>
      <div class="applyNow"><img src="../../../assets/applyNow.svg"/></div>
      <div class="arrow">
        <img [src]="imagesArrow[currentArrowIndex]" style="transition: ease 1s;"/>
      </div>
      <div class="canvas" id="canvas">
        <div class="mainContent" [@zoomInUp]>
          <div class="nine" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="180">9</div>
          <div class="conferenceName" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="200">
            INTERNATIONAL<br> CONFERENCE <br> ON SMART AND <br> SUSTAINABLE<br> TECHNOLOGIES
          </div>
        </div> 
        <!-- <div class="mainContentPlayGround">
          <div class="registration" data-aos="fade-up-right" data-aos-delay="100" data-aos-duration="1000" data-aos-easing="ease-in-sine"><img src="../../../assets/Registration-svg.svg"></div>
          <div class="programme" data-aos="flip-right" data-aos-delay="300" data-aos-duration="1000"><img src="../../../assets/Programme-svg.svg"></div>
          <div class="virtualAcess" data-aos="zoom-in" data-aos-delay="500" data-aos-duration="1000"><img src="../../../assets/Virtual_access-svg.svg"></div>
          <div class="authors" data-aos="fade-down" data-aos-delay="700" data-aos-duration="1000" data-aos-easing="ease-in-sine"><img src="../../../assets/Authors-svg.svg"></div>
          <div class="accomodation" data-aos="fade-up-left" data-aos-delay="900" data-aos-duration="1000"><img src="../../../assets/Accomodation-svg.svg"></div>
        </div> -->
        <div class="mainContentContent" id="contentId">
          <router-outlet></router-outlet>
        </div>
      </div>
      <div class="secondLine">{{spliTech2023}}<span class="longLine"></span>{{spliTech2024}}</div>
      <div class="futureArrow">
        <div class="tirthLine" id="future">FUTURE!</div>
        
      </div>
    </div>
</div>
