<div class="container">
  <div class="important-dates">IMPORTANT DATES</div>
  <!-- <div class="full-paper-submission" style="text-align: center;">FULL PAPER SUBMISSION:</div>
  <div class="full-paper-submission-date" style="text-decoration: line-through; color: white">February 24, 2024</div>
  <div class="full-paper-submission" style="text-decoration: line-through;">EXTENDED TO:</div>
  <div class="full-paper-submission-date" style="text-decoration: line-through; color: white" >March 13, 2024</div> -->

  <div class="full-paper-submission">FINAL EXTENSION:</div>
  <div class="full-paper-submission-date" style="font-weight: bold;" >March 20, 2024</div>

  <div class="notification-of-acceptance">Notification of acceptance:</div>
  <div class="notification-of-acceptance-date">April 20, 2024</div>
  <div class="camera-ready-paper">Camera ready paper:</div>
  <div class="camera-ready-paper-date">May 05, 2024</div>
</div>
