<div class="background" id="container">
  <svg
    class="background-logo background-logo-open"
    version="1.1"
    id="Layer_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    width="100%"
    viewBox="0 0 441 182"
    enable-background="new 0 0 441 182"
    xml:space="preserve"
  >
    <path
      opacity="1.000000"
      stroke="#002340"
      d="M0.999999,113.333328 
      C2.677264,112.493973 4.442721,112.178398 6.016770,111.449493 
      C13.456172,108.004463 20.838837,104.437088 28.254929,100.941338 
      C29.109035,100.538727 30.032692,100.089531 30.945704,100.036934 
      C37.860394,99.638618 44.797283,99.534904 51.695358,98.958000 
      C65.878189,97.771835 80.076492,95.048271 94.201141,95.432281 
      C105.561172,95.741127 110.212242,89.708572 114.956161,81.654305 
      C118.630531,75.415932 122.954437,69.561394 126.940674,63.504028 
      C127.513306,62.633881 127.810806,61.582668 128.944946,59.000000 
      C110.264572,59.000000 92.730148,59.154408 75.201492,58.904446 
      C70.047058,58.830936 64.835098,57.941154 59.787609,56.809490 
      C55.997784,55.959797 53.161903,53.147678 53.106018,49.071621 
      C53.037464,44.071526 57.235577,41.971279 61.091057,41.156647 
      C73.886475,38.453075 86.774582,36.141953 99.687416,34.052876 
      C113.473930,31.822453 127.311653,29.882826 141.160965,28.076473 
      C148.623642,27.103119 156.145569,26.450768 163.661896,26.054190 
      C174.068939,25.505095 184.494156,25.260296 194.914627,25.013729 
      C224.750092,24.307774 254.587753,23.181900 284.423187,23.222651 
      C297.587708,23.240631 310.803040,25.315422 323.874908,27.264112 
      C327.288239,27.772959 330.250427,31.308428 334.150757,33.948635 
      C312.596008,32.607311 292.541321,31.359331 272.426147,30.107590 
      C268.951935,42.789570 259.744049,50.270969 252.397568,59.066929 
      C243.174057,70.110252 233.764618,80.998093 224.512009,92.017357 
      C214.539948,103.893494 204.390594,115.635536 194.826202,127.834084 
      C188.267197,136.199524 182.426498,145.147308 176.592163,154.049408 
      C174.970413,156.523849 173.815689,157.819977 170.835754,156.435806 
      C167.671387,154.965988 168.639236,152.785187 169.750900,150.793686 
      C174.135452,142.938873 178.690277,135.179276 183.110214,127.343887 
      C183.988464,125.786942 184.550751,124.051765 185.258743,122.398781 
      C184.821091,122.110542 184.383438,121.822311 183.945770,121.534073 
      C180.303406,125.622116 176.622528,129.676666 173.030350,133.808334 
      C169.923279,137.382034 167.105469,141.231232 163.773407,144.573456 
      C162.438110,145.912827 160.125732,146.634766 158.157837,146.903595 
      C155.168213,147.311981 152.729706,144.097580 154.235062,141.610291 
      C158.483322,134.590973 162.792374,127.565491 167.679550,120.989937 
      C171.299667,116.119156 175.713654,111.798607 180.049438,107.511528 
      C183.839493,103.764069 188.359329,104.564392 189.417877,109.083260 
      C189.786438,110.656601 188.666901,112.578529 188.788559,115.238571 
      C190.525330,113.496887 192.418167,111.883553 193.973419,109.992561 
      C203.599823,98.288010 212.781021,86.194084 222.818619,74.856766 
      C235.635941,60.379772 249.124222,46.496822 262.791931,31.855867 
      C210.455994,32.410713 158.741119,37.367359 107.370270,46.123493 
      C107.384903,46.748997 107.399544,47.374496 107.414177,48.000000 
      C115.646774,48.000000 123.896317,47.657997 132.108765,48.064812 
      C155.738266,49.235329 179.539749,49.278667 202.491257,56.114792 
      C206.839157,57.409817 211.152786,59.689667 214.738922,62.472839 
      C220.413300,66.876686 218.698502,75.793289 211.636734,80.759087 
      C199.166107,89.528381 185.094482,94.394081 170.238754,96.938255 
      C153.140732,99.866447 136.033646,103.323212 118.787483,104.566772 
      C109.759445,105.217743 107.017715,111.620865 102.463249,116.355949 
      C94.544746,124.588501 87.490433,133.654556 80.114021,142.405060 
      C77.281799,145.764877 74.714111,149.360550 71.733650,152.578049 
      C69.718605,154.753372 67.193062,156.455811 64.501305,158.698486 
      C62.042778,150.555954 66.851967,145.406677 70.281776,140.546738 
      C77.583740,130.200027 85.925362,120.587227 93.832817,110.667198 
      C94.299942,110.081184 94.695580,109.438179 95.768120,107.896530 
      C87.832390,108.309425 80.852959,108.540054 73.896896,109.074677 
      C67.878471,109.537224 61.899845,110.531189 55.880100,110.959869 
      C44.553478,111.766457 33.203251,112.240540 21.875877,113.038086 
      C15.199852,113.508141 8.548886,114.334106 1.443325,115.000000 
      C1.000000,114.555557 1.000000,114.111107 0.999999,113.333328 
  M121.124062,92.596275 
      C129.566254,91.397667 138.054779,90.455177 146.439392,88.938347 
      C158.015366,86.844193 169.635239,84.785698 181.004120,81.821419 
      C189.535873,79.596878 197.850479,76.267357 205.358551,70.076477 
      C203.344345,69.228836 201.921173,68.500053 200.418930,68.017365 
      C180.853119,61.730690 160.562546,61.537819 140.326584,61.163563 
      C138.823975,61.135765 136.737869,63.123302 135.842194,64.697067 
      C130.751846,73.641129 125.941116,82.744324 121.124062,92.596275 
  z"
    />
    <path
      opacity="1.000000"
      stroke="#002340"
      d="
  M442.000000,71.600006 
      C435.086700,73.999512 428.210846,76.141441 421.252594,77.969810 
      C405.267273,82.170143 389.298035,86.458206 373.207611,90.220261 
      C365.783997,91.955963 362.468750,97.282181 359.360718,103.187401 
      C345.897705,128.767136 332.455078,154.357620 318.991730,179.937195 
      C318.540283,180.794907 317.946198,181.577560 317.709290,182.697601 
      C316.611115,183.000000 315.222198,183.000000 313.416656,183.000000 
      C312.666595,174.854019 316.972321,168.078384 320.138214,161.181732 
      C329.590546,140.590714 339.725800,120.313217 349.583801,99.908211 
      C349.789307,99.482857 349.868195,98.996330 350.055328,98.374985 
      C346.066040,97.106712 343.580231,99.379494 342.059906,102.201843 
      C335.571869,114.246361 329.319489,126.418938 323.066132,138.588440 
      C316.977844,150.436707 311.095856,162.392914 304.835236,174.148331 
      C304.034729,175.651474 301.498291,176.230103 299.766022,177.237030 
      C299.331268,177.019180 298.896484,176.801331 298.461700,176.583481 
      C299.400269,173.162521 299.929260,169.560486 301.347717,166.351639 
      C307.768311,151.827026 314.310944,137.352585 321.079773,122.987389 
      C324.153870,116.463310 327.855255,110.234818 331.756622,102.969986 
      C323.738861,104.523094 316.635254,105.899117 309.531677,107.275146 
      C309.253113,106.382713 308.974548,105.490288 308.695984,104.597862 
      C314.175018,101.861336 319.388519,97.898834 325.188171,96.642647 
      C337.389984,93.999771 342.164856,85.057442 346.439453,75.111908 
      C349.035980,69.070747 351.660828,63.038170 354.442932,57.081104 
      C360.624481,43.845196 366.909210,30.657431 373.174622,17.460846 
      C373.374268,17.040266 373.822754,16.737864 374.382111,16.136518 
      C376.482117,23.052567 373.505554,28.733173 371.084290,34.580143 
      C364.098511,51.449802 357.228455,68.367371 350.326172,85.271523 
      C350.161102,85.675735 350.151337,86.143333 349.992249,86.990990 
      C356.149750,87.002251 359.796753,83.389488 362.496796,78.932549 
      C377.744812,53.762585 392.832825,28.495651 407.944183,3.243110 
      C408.166870,2.870929 407.990143,2.259711 407.999939,1.380032 
      C409.066681,1.000000 410.133331,1.000000 411.599884,1.408418 
      C409.432983,7.966666 407.285980,14.334702 404.223206,20.226685 
      C393.731964,40.409119 382.919403,60.424511 372.203613,80.551964 
      C374.093597,80.191376 376.092621,79.821434 378.086945,79.427658 
      C392.302521,76.620834 406.494446,73.686279 420.741791,71.051277 
      C427.775391,69.750427 434.910706,68.999664 442.000000,68.000000 
      C442.000000,69.066673 442.000000,70.133339 442.000000,71.600006 
  z"
    />

    <path
      opacity="1.000000"
      stroke="#002340"
      d="
  M315.192688,119.963638 
      C316.908539,119.536835 318.232971,119.166344 319.557404,118.795845 
      C319.893951,119.200333 320.230499,119.604820 320.567047,120.009308 
      C318.793091,122.092216 317.213837,124.388084 315.210236,126.219803 
      C307.993378,132.817581 300.292847,138.443832 289.650116,137.008453 
      C289.159210,136.942245 288.529755,137.194687 288.169922,136.970123 
      C281.418396,132.756516 276.537506,137.228333 270.586212,139.727585 
      C261.060242,143.728012 250.852066,146.440140 240.689438,148.497162 
      C229.722977,150.716858 218.500580,151.783722 207.346176,152.927643 
      C198.601303,153.824463 194.147018,145.822968 198.410141,138.214127 
      C200.682632,134.158142 203.645905,130.419205 206.697983,126.882889 
      C216.451599,115.581757 226.568588,104.590813 236.192719,93.182686 
      C241.658813,86.703369 249.133652,84.948311 256.638153,83.035286 
      C264.892731,80.931038 273.188965,78.969742 281.524811,77.221779 
      C283.226135,76.865021 285.184052,77.731865 286.996460,78.030190 
      C286.276062,84.094421 281.243530,83.804367 277.778503,84.843941 
      C268.559540,87.609825 259.100494,89.564613 249.815567,92.127022 
      C246.149017,93.138901 243.604431,95.769394 242.035782,99.396751 
      C240.839355,102.163414 239.192703,104.735390 237.816528,107.264954 
      C246.991394,106.702255 255.892899,106.156319 264.794403,105.610390 
      C265.032318,106.231277 265.270264,106.852165 265.508179,107.473053 
      C264.159241,108.315102 262.910645,109.580963 261.444519,109.928238 
      C253.769409,111.746223 246.095718,113.719666 238.307190,114.854347 
      C233.495285,115.555367 229.717941,117.191483 226.593292,120.860260 
      C221.094589,127.316505 215.441589,133.641342 208.996124,140.999664 
      C231.786255,137.851883 252.533340,129.188568 274.951141,131.107346 
      C269.702454,115.313049 275.211456,100.053322 289.528687,90.152145 
      C293.752228,87.231308 297.909760,83.914909 302.601288,82.040833 
      C309.697113,79.206322 314.168335,80.690231 316.631989,88.269852 
      C316.964508,89.292908 316.514191,90.570412 316.350891,92.726715 
      C309.950348,86.156700 305.962097,89.790024 301.224579,93.845940 
      C293.934998,100.086769 287.776001,106.955704 284.486115,116.042236 
      C282.799347,120.700905 285.483795,125.481796 290.276306,125.905823 
      C299.027985,126.680153 307.597412,126.010765 315.192688,119.963638 
  z"
    />
    <path
      opacity="1.000000"
      stroke="#002340"
      d="
  M148.547577,144.990311 
      C138.977341,147.345139 129.790695,149.537643 120.700943,152.077026 
      C109.602531,155.177567 98.665604,158.908279 87.467148,161.555588 
      C85.165428,162.099701 81.542114,159.571808 79.388748,157.545227 
      C77.046234,155.340637 77.422752,152.049835 79.872887,149.726334 
      C89.800194,140.312149 99.811211,130.985916 109.827164,121.665733 
      C112.827408,118.873894 115.782585,115.990463 119.057274,113.550011 
      C121.805367,111.502007 124.988228,110.037392 128.137299,108.223038 
      C131.579453,116.692863 125.431572,120.819145 121.751137,125.541245 
      C117.510338,130.982330 112.408005,135.751938 108.439461,140.000000 
      C119.995689,140.000000 132.489212,139.947891 144.981201,140.062515 
      C146.640274,140.077728 148.357132,140.808060 149.871994,141.560181 
      C150.086166,141.666519 149.298233,143.791260 148.547577,144.990311 
  z"
    />
  </svg>

  <div class="content" id="content">
    <div class="cfp">CALL FOR PAPERS</div>
    <div class="roadmap">
      <div class="road">
        <div class="roadtitle">1. PAPER PREPARATION</div>
        <div class="roadtext">
          Prospective authors are invited to prepare manuscripts using standard
          A4 IEEE format for conferences.
        </div>
      </div>
      <div class="road">
        <div class="roadtitle">2. SUBMIT PAPER</div>
        <div class="roadtext">
          Submit via EDAS system until February 29, 2024
          <!-- <span style="text-decoration: line-through">
            EXTENDED TO: March 13, 2024</span
          >
          FINAL EXTENSION: March 20, 2024 -->
        </div>
      </div>
      <div class="road">
        <div class="roadtitle">3. NOTIFICATION OF ACCEPTANCE</div>
        <div class="roadtext">
          The notification of acceptance will be available by April 25, 2024
        </div>
      </div>
      <div class="road">
        <div class="roadtitle">4. CAMERA READY PAPER SUBMISSION</div>
        <div class="roadtext">
          The deadline for camera ready paper submission is May 10, 2024
        </div>
      </div>
    </div>
    <div class="para">
      SpliTech2024 will feature a technical and professional program related to
      the today’s hottest topics: Smart city/environment, Energy, Engineering
      Modelling and Health.
    </div>
    <div class="para">
      All accepted papers will be published in SpliTech2024 conference
      proceedings and invited to submit a revised and extended versions for
      possible publication in Special Issues of high quality journals. More
      detailed topics are listed below.
    </div>
    <div class="sub">1. PAPER PREPARATION</div>
    <div class="para">
      Prospective authors are invited to submit original technical papers for
      publication in the SpliTech2024 Conference Proceedings. Please prepare
      your manuscripts using the standard A4 IEEE format for conferences:
    </div>
    <div class="para">
      <span
        ><a style="font-family: fontEveret;"
          href="http://www.ieee.org/conferences_events/conferences/publishing/templates.html"
          >http://www.ieee.org/conferences_events/conferences/publishing/templates.html</a
        ></span
      >
    </div>
    <div class="para">
      SpliTech2024 will be hosting tutorials, entrepreneur/industry
      demonstration/panels, summer schools and professional workshops.
    </div>
    <div class="para">Accepted professional/technical paper types are:</div>
    <div class="para">Long papers (min. 5 and max. 6 pages)</div>
    <div class="para">Short papers (min. 3 and max 4 pages)</div>

    <div class="sub">2. SUBMISSION</div>
    <div class="para">
      All submissions will be handled electronically. SpliTech2024 is using the
      EDAS Conference Management System to manage paper submissions. In order to
      submit, you will first need to create an account. Once you’ve logged in
      EDAS provides you with a submission homepage where you can register your
      submission and make appropriate changes up until the registration
      deadline. Please be sure that your paper has been made according to
      author’s kit. If you have problems with the system, please contact the
      administrator at splitech@fesb.hr.
    </div>
    <div class="para">
       STEP 1:   Create an account in the EDAS system. The system
      will e-mail you your password.
    </div>
    <div class="para">
       STEP 2:   Login using your username and password (sent via
      email).
    </div>
    <div class="para">
       STEP 3:   Click on the image to submit a new paper, or
      select an existing submission to edit. All papers submitted should be in
      the PDF (.pdf) format. Fill in details of the paper. You will be required
      to provide information for co-authors not already registered with the
      system. Choose the submit button to register you paper. Paper submission
      categories and links with descriptions for direct submision are available
      below.
    </div>
    <div class="para">
       STEP 4:   Upload your paper using the provided form. You
      may choose not to upload a file immediately. You may upload a new version
      of your file at any time (prior to submission deadline) by returning to
      the EDAS system. Once you login, a list of submitted papers will be made
      available. Click on the upload image to upload a new version of your
      paper.
    </div>

    <div class="para"> TECHNICAL PROGRAM  </div>
    <div class="para">
      The technical program includes numerous sessions containing contributed
      papers related to SpliTech2024 conference topics while featuring prominent
      keynote speakers.
    </div>

    <div class="para" style="margin-top: 30px">
      <strong
        ><a  style="font-family: fontEveret;" href="https://edas.info/newPaper.php?c=31823"
          >Submit technical paper:</a
        ></strong
      >
    </div>
    <!-- <div class="para">
      <strong
        >-
        <a href="https://edas.info/newPaper.php?c=31823&track=114862"
          >Smart city/environment track</a
        ></strong
      >
    </div>
    <div class="para">
      <strong
        >-
        <a href="https://edas.info/newPaper.php?c=31823&track=114863"
          >Smart Distributed Electrical Network</a
        ></strong
      >
    </div>
    <div class="para">
      <strong
        >-
        <a href="https://edas.info/newPaper.php?c=31823&track=114859"
          >International Syposium on Internet of Things</a
        ></strong
      >
      (choose among: IoT – General Track, AI & IoT (Special Session on
      Artificial Intelligence and Deep Learning Applied to Smart Environments,
      BigData & IoT, Security & IoT (Cyber Security and IoT), DLT & IoT
      (Distributed Ledger Technologies and IoT))
    </div>
    <div class="para">
      <strong
        >-
        <a href="https://edas.info/newPaper.php?c=31823&track=114860"
          >International Symposium on RFID and Electromagnetics for IoT</a
        ></strong
      >
      (choose among: RFID & EM for IoT General Track, RFID & EM for IoT in
      India, RFID, IoT and electromagnetic devices empowered with Edge computing
      and AI techniques, RFID: a key technology for Society and Industry, Small
      antennas and RF sensors for IoT applications)
    </div>
    <div class="para">
      <strong
        >-
        <a href="https://edas.info/newPaper.php?c=31823&track=114914"
          >International Symposium Statistics and Machine Learning in
          Electronics</a
        ></strong
      >
    </div>
    <div class="para">
      <strong
        >-
        <a href="https://edas.info/newPaper.php?c=31823&track=114856"
          >Energy track</a
        ></strong
      >
    </div>
    <div class="para">
      <strong
        >-
        <a href="https://edas.info/newPaper.php?c=31823&track=114861"
          >Mitigation and adaptation strategies for decarbonization of build
          environment</a
        ></strong
      >
    </div>
    <div class="para">
      <strong
        >-
        <a href="https://edas.info/newPaper.php?c=31823&track=114857"
          >Engineering modeling track</a
        ></strong
      >
    </div>
    <div class="para">
      <strong
        >-
        <a href="https://edas.info/newPaper.php?c=31823&track=114858"
          >Health track</a
        ></strong
      >
    </div>
    <div class="para">
      <strong
        >-
        <a href="https://edas.info/newPaper.php?c=31823&track=115372"
          >Wildfires track</a
        ></strong
      >
    </div>
    <div class="para">
      <strong
        >-
        <a href="https://edas.info/newPaper.php?c=31823&track=115758"
          >International Symposium on Photovoltatronics</a
        ></strong
      >
    </div>
    <div class="para">
      <strong
        >-
        <a href="https://edas.info/newPaper.php?c=31823&track=116360"
          >Citizen Science</a
        ></strong
      >
    </div>
    <div class="para">
      <strong
        >-
        <a href="https://edas.info/newPaper.php?c=31823&track=116642"
          >RESHeat Workshop</a
        ></strong
      >
    </div>
    <div class="para">
      <strong
        >-
        <a href="https://edas.info/newPaper.php?c=31823&track=114864"
          >Submit technical short paper</a
        ></strong
      >
    </div> -->

    <div class="para" style="margin-top: 30px">
       PROFESSIONAL PROGRAM  
    </div>
    <div class="para">
      The extensive professional program is designed to provide opportunities
      for the professionals to both share and learn about the latest ideas,
      trends, and innovations, while connecting with their peers. To be accepted
      here, submissions are not required to have original scientific
      contribution.
    </div>
    <div class="para">
      <strong
        >-
        <a  style="font-family: fontEveret;" href="https://edas.info/newPaper.php?c=31823&track=114854"
          >Submit professional long paper</a
        ></strong
      >
    </div>
    <div class="para">
      <strong
        >-
        <a  style="font-family: fontEveret;" href="https://edas.info/newPaper.php?c=31823&track=114855"
          >Submit professional short paper</a
        ></strong
      >
    </div>

    <div class="sub">3. WAIT FOR THE NOTIFICATION OF ACCEPTANCE MESSAGE</div>
    <div class="para">
      The notification of acceptance will be provided by April 25, 2024.
    </div>

    <div class="sub">4. SUBMIT THE FINAL PAPER VERSION</div>
    <div class="para">
      Once your paper is accepted, final manuscript should be submitted through
      the EDAS system by May 10, 2024. 
      <!-- All accepted papers will be included in
      the conference proceedings. Published SpliTech2024 technical papers will
      be included in IEEE Xplore and must adhere to the IEEE Xplore PDF
      specification for compatibility. -->
    </div>

    <!-- <div class="para">
      Steps for SpliTech2024 registration and final paper submission (already
      completed steps can be skipped):
    </div>
    <div class="para">
      1. <a href="https://kviz.typeform.com/Splitech2024">Register</a>
    </div>
    <div class="para">
      2. Create your camera ready manuscript(s) by following the comments
      received in the notification message where possible. For papers exceeding
      maximum length of 6 pages, additional fee of 45 EUR per page is to be
      applied. Please note that list of authors must be the same in the paper
      and EDAS system!
    </div>
    <div class="para">
      3. Proofread and check layout of manuscript (it is highly recommended that
      you do this BEFORE going to IEEE PDF eXpress).
    </div>
    <div class="para">
      4. Papers accepted within the Technical program require manuscript
      <span>PDF IEEE Xplore® compatibility check</span> (see
      <a href="../../assets/58164X pdf eXpress instructions.pdf">instructions</a
      >). Papers accepted within the Technical program require manuscript
    </div>
    <div class="para">
      5. Forward the confirmation mail received from the IEEE PDF eXpress™ tool
      to (splitech@fesb.hr)
    </div>
    <div class="para">
      6. All the papers selected for publication in SpliTech2024 proceedings
      must be accompanied by the filled and signed copyright form (<a
        href="../../assets/SpliTech23_copyright (3).pdf"
        >pdf</a
      >, <a href="../../assets/SpliTech23_copyright (3).docx">doc</a>). For a
      paper to be published in the Proceedings this form must be signed by at
      least the leading author. (Add “Proceedings of the 8th International
      Conference on Smart and Sustainable Technologies – SpliTech 2024” in the
      “Publication” field of the Copyright form).
    </div>
    <div class="para">
      7. Log on to EDAS and submit:<br />- filled and signed copyright form<br />-
      final, IEEE Xplore@-compatible PDF(s)
    </div> -->
    <div class="para">
      If you need VISA assistance, contact us at splitech@fesb.hr
    </div>
    <br><br>
    <br><br>
    <div class="sub">CONFERENCE TOPICS</div>
    <div class="para conferenceTopics">
      <section
        class="elementor-section elementor-inner-section elementor-element elementor-element-669845d elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="669845d"
        data-element_type="section"
        data-settings='{"background_background":"classic"}'
      >
        <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-row flexWrap">
            <div
              class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-5261eb4"
              data-id="5261eb4"
              data-element_type="column"
            >
              <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
                  <div
                    class="elementor-element elementor-element-948d4fc elementor-widget elementor-widget-heading"
                    data-id="948d4fc"
                    data-element_type="widget"
                    data-widget_type="heading.default"
                  >
                    <div class="elementor-widget-container">
                      <h2
                        class="elementor-heading-title elementor-size-default"
                      >
                        Energy 
                      </h2>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-d5b1d9b elementor-widget elementor-widget-text-editor"
                    data-id="d5b1d9b"
                    data-element_type="widget"
                    data-widget_type="text-editor.default"
                  >
                    <div class="elementor-widget-container">
                      <div class="elementor-text-editor elementor-clearfix">
                        Energy Efficiency and Assessment in Buildings/cities
                          with Aplications
                        <ul>
                          <li>
                            Integration of renewable energy in buildings and
                            cities
                          </li>
                          <li>Building retrofit and refurbishment</li>
                          <li>
                            Business development and energy services for
                            sustainable buildings and cities
                          </li>
                          <li>Low energy architectures</li>
                          <li>Energy efficient buildings</li>
                          <li>Highly-efficient insulation</li>
                          <li>HVAC systems in the building applications</li>
                          <li>
                            Novel sustainable building materials and techniques
                          </li>
                          <li>Passive heating and cooling</li>
                          <li>Sustainable energy management in buildings</li>
                          <li>Zero CO2 and energy plus buildings</li>
                          <li>
                            Heating and ventilating control systems for reduced
                            energy use
                          </li>
                          <li>Building management systems</li>
                          <li>Low energy building technology</li>
                          <li>Low energy lighting systems</li>
                          <li>High-output light LED lighting systems</li>
                          <li>Passive solar heating systems.</li>
                          <li>Life cycle analysis methodologies</li>
                          <li>Tools and life cycle analysis</li>
                          <li>Triple-bottom-line analysis</li>
                          <li>
                            Energy efficient lighting systems and regulation
                          </li>
                          <li>Environmental management systems</li>
                          <li>Environmental impact assessment systems</li>
                          <li>Environmental Sustainability and Development</li>
                        </ul>
                        Power system operation and planning with smart energy
                          networks
                        <ul>
                          <li>Smart grid technologies</li>
                          <li>
                            Reliability and implications of smart grids for
                            asset management
                          </li>
                          <li>
                            Smart grids for efficient integration of renewables
                            and distributed generation
                          </li>
                          <li>
                            Large-scale modelling and smart integration of
                            distributed energy sources
                          </li>
                          <li>
                            Impact of renewable and distributed generation on
                            networks and security of supply
                          </li>
                          <li>
                            Imbalances caused by renewable energies and
                            distributed generation
                          </li>
                          <li>
                            Generation and Demand forecasting, modelling and
                            management
                          </li>
                          <li>
                            Modelling, analysis and operation of mixed AC-DC
                            power systems
                          </li>
                          <li>
                            Impact of new technologies on the power system
                            (FACTS/HVDC)
                          </li>
                          <li>
                            Electric vehicle and energy storage applications and
                            system integration
                          </li>
                          <li>
                            System balancing, short-term reserve and ancillary
                            services
                          </li>
                          <li>
                            Intelligent monitoring and outage management – self
                            healing grids
                          </li>
                          <li>
                            Advanced metering, data acquisition and monitoring
                          </li>
                          <li>State estimation and situational awareness</li>
                          <li>Stability analysis of future networks</li>
                          <li>Demand side management</li>
                          <li>Reversible hydro generation</li>
                        </ul>
                        Materials, fuels and power storage systems
                        <ul>
                          <li>Battery systems</li>
                          <li>Hybrid energy systems</li>
                          <li>Advanced energy systems</li>
                          <li>Flywheel systems</li>
                          <li>Super-capacitors</li>
                          <li>Bio fuel</li>
                          <li>Grätzel cells</li>
                          <li>Fuel cell technology</li>
                          <li>Bio-mass generation schemes</li>
                          <li>Stirling cycle engines</li>
                          <li>Bio-fuelled diesel generators</li>
                          <li>Nanomaterials in energy applications</li>
                          <li>Biomaterials in energy applications</li>
                          <li>Electronic and magnetic materials</li>
                        </ul>
                        Renewable/clean energy sources and technologies with
                          control and optimisation
                        <ul>
                          <li>Photovoltaics</li>
                          <li>Solar thermal</li>
                          <li>Biomass</li>
                          <li>Geothermal systems</li>
                          <li>Micro-wind turbines</li>
                          <li>Horizontal and vertical axis aero-generators</li>
                          <li>
                            On-site, off-grid, grid-supplemented generation
                            systems
                          </li>
                          <li>
                            Combined heat and power (CHP) and micro-CHP systems
                          </li>
                          <li>
                            Smart monitoring and control using intelligent
                            systems
                          </li>
                          <li>High-efficiency switching systems</li>
                          <li>Highly-efficient voltage conversion systems</li>
                          <li>
                            Novel high efficiency distribution systems and low
                            voltage busses
                          </li>
                        </ul>
                       Sustainable Information and Communication Technology
                          (ICT)
                        <ul>
                          <li>Green Information Technology (IT) performance</li>
                          <li>Environmentally sustainable computing</li>
                          <li>Energy-efficient systems</li>
                          <li>
                            Sustainable behaviour and ICT in homes and premises
                          </li>
                          <li>
                            Sustainable practices in intelligent buildings
                          </li>
                          <li>Intelligent systems for sustainability</li>
                          <li>Smart, sustainable, and Economy systems</li>
                          <li>Processes and cloud computing</li>
                        </ul>
                       Policy perspective and governance on sustainability
                          in energy and buildings
                        <ul>
                          <li>Environmental policy</li>
                          <li>Air pollution policy</li>
                          <li>Water pollution policy</li>
                          <li>Land management</li>
                          <li>Waste management</li>
                          <li>Biomass management</li>
                          <li>Social aspects</li>
                          <li>Green Manufacturing</li>
                          <li>
                            Governance of sustainability in energy and buildings
                          </li>
                          <li>Green economy and governance</li>
                          <li>Green energy and environment</li>
                          <li>Regional development</li>
                          <li>
                            Financial and regulatory mechanisms models and tools
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-b7edfb3 elementor-widget elementor-widget-heading"
                    data-id="b7edfb3"
                    data-element_type="widget"
                    data-widget_type="heading.default"
                  >
                    <div class="elementor-widget-container">
                      <h2
                        class="elementor-heading-title elementor-size-default"
                      >
                        Engineering Modelling
                      </h2>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-d80a9f2 elementor-widget elementor-widget-text-editor"
                    data-id="d80a9f2"
                    data-element_type="widget"
                    data-widget_type="text-editor.default"
                  >
                    <div class="elementor-widget-container">
                      <div class="elementor-text-editor elementor-clearfix">
                       Computational Electromagnetics
                        <ul>
                          <li>Electromagnetic compatibility,</li>
                          <li>Antennas and propagation,</li>
                          <li>Microwaves,</li>
                          <li>Wireless Power Transfer,</li>
                          <li>Radar Systems,</li>
                          <li>Lightning Protection Systems,</li>
                          <li>RFiD</li>
                        </ul>
                        Advanced numerical methods
                        <ul>
                          <li>Advances in computational methods,</li>
                          <li>Large-scale problems,</li>
                          <li>Finite Element Method (FEM),</li>
                          <li>Finite Diference Method (FDM),</li>
                          <li>Boundary Element Methods (BEM),</li>
                          <li>Combined finite-discrete element method,</li>
                          <li>Method of Moments (MoM),</li>
                          <li>Hybrid methods</li>
                        </ul>
                         Computational mechanics  
                        <ul>
                          <li>Heat transfer</li>
                          <li>Fluid flow</li>
                          <li>Solid mechanics,</li>
                          <li>Damage mechanics and fracture,</li>
                          <li>Vibrations</li>
                        </ul>
                         Civil engineering  
                        <ul>
                          <li>Numerical modelling of materials,</li>
                          <li>Numerical modelling of structures</li>
                          <li>Numerical modelling in polymer mechanic</li>
                          <li>Computational visualization in Engineering</li>
                          <li>Computational fluid dynamic</li>
                        </ul>
                         Industrial applications  
                        <ul>
                          <li>Electric vehicles</li>
                          <li>Automotive applications</li>
                          <li>Urban transport</li>
                          <li>Corrosion problems</li>
                          <li>Process simulation</li>
                          <li>Fusion engineering</li>
                          <li>Nanotechnology</li>
                        </ul>
                         Biomedical engineering  
                        <ul>
                          <li>
                            Biomedical applications and engineering solutions
                          </li>
                          <li>Biomechanics</li>
                          <li>Bioelectromagnetics</li>
                          <li>Biomehatronics</li>
                        </ul>
                         Environmental modeling  
                        <ul>
                          <li>Modeling of air pollution</li>
                          <li>Renewables</li>
                          <li>Photovoltaics</li>
                          <li>Wind turbines</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-c6d5b7e"
              data-id="c6d5b7e"
              data-element_type="column"
            >
              <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
                  <div
                    class="elementor-element elementor-element-84f7bd7 elementor-widget elementor-widget-heading"
                    data-id="84f7bd7"
                    data-element_type="widget"
                    data-widget_type="heading.default"
                  >
                    <div class="elementor-widget-container">
                      <h2
                        class="elementor-heading-title elementor-size-default"
                      >
                        Smart Environment / Cities
                      </h2>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-5d310da elementor-widget elementor-widget-text-editor"
                    data-id="5d310da"
                    data-element_type="widget"
                    data-widget_type="text-editor.default"
                  >
                    <div class="elementor-widget-container">
                      <div class="elementor-text-editor elementor-clearfix">
                        <p> Theories and Models  </p>
                        <ul>
                          <li>Artificial and Computational Intelligence</li>
                          <li>Citizen engagement and smart governance</li>
                          <li>Digital city and smart growth</li>
                          <li>Environmental capital reduction</li>
                          <li>Multimodal Human-Computer Interaction</li>
                          <li>Reliability, Privacy and Trust</li>
                          <li>
                            Internet of Things, Ubiquitous and Pervasive
                            Computing
                          </li>
                          <li>Virtual, Mixed and Augmented Reality</li>
                          <li>Intelligent infrastructure</li>
                          <li>
                            Pedestrian and bicyclist safety; mobility systems
                          </li>
                          <li>Smart city theory, modeling and simulation</li>
                        </ul>
                        <p>
                           Technology, Methodologies and Tools  
                        </p>
                        <ul>
                          <li>Agent Technologies</li>
                          <li>Connected Vehicle (CV) technologies</li>
                          <li>Development Processes and Tools</li>
                          <li>Internet of Things (IoT) and smart cities</li>
                          <li>Networking and Communication</li>
                          <li>Open data and big data analytics</li>
                          <li>Sensors and Actuators</li>
                        </ul>
                        <p> Applications  </p>
                        <ul>
                          <li>Ambient Assisted Living</li>
                          <li>Mobility Support</li>
                          <li>Robotic Companions</li>
                          <li>Energy Effiency</li>
                          <li>
                            Intelligent vehicle-to-infrastructure integration
                          </li>
                          <li>Support for Productive Collaborations</li>
                          <li>Technology Supported Education</li>
                          <li>Smart city for Special Needs</li>
                          <li>Smart economy development</li>
                          <li>Smart environment and policy development</li>
                          <li>Smart Farming</li>
                          <li>Smart health and emergency management</li>
                          <li>Smart home and smart buildings</li>
                          <li>Smart manufacturing and logistics</li>
                          <li>Smart mobility and transportation</li>
                        </ul>
                        <p> Systems and Infrastructures  </p>
                        <ul>
                          <li>Architecture and Design</li>
                          <li>Environmental monitoring technologies</li>
                          <li>Intelligent and Smart Spaces</li>
                          <li>Safety and security systems</li>
                          <li>Satellite systems</li>
                          <li>Smart integrated grids</li>
                          <li>Smart traffic system operations</li>
                          <li>
                            System Architecture and Middleware for Intelligent
                            Environments
                          </li>
                        </ul>
                        <p> Evaluation and Corpora  </p>
                        <ul>
                          <li>Evaluation Paradigms and Campaigns</li>
                          <li>Data Acquisition, Labelling and Data Sets</li>
                          <li>User Studies and Trials</li>
                          <li>Smart city Implementation</li>
                        </ul>
                        <p> Internet of Things  </p>
                        <ul>
                          <li>Applications for the Internet of Things</li>
                          <li>
                            Novel quality requirements and their enforcement
                            mechanisms
                          </li>
                          <li>
                            Cloud back-ends and resource management for IoT
                            applications
                          </li>
                          <li>
                            Reliability, security, timeliness, and robustness
                            considerations in IoT systems
                          </li>
                          <li>
                            IoT-motivated cyber-physical, Industrial Internet,
                            and/or embedded system challenges
                          </li>
                          <li>Social computing and human-in-the-loop issues</li>
                          <li>
                            Sensing, control, and actuation in IoT architectures
                          </li>
                          <li>Novel protocols and network abstractions</li>
                          <li>Data streaming architectures</li>
                          <li>
                            Analytic foundations and theory of the Internet of
                            Things
                          </li>
                          <li>Privacy challenges</li>
                          <li>
                            Industrial deployment experiences, case studies, and
                            lessons learned
                          </li>
                          <li>Evaluation and testbeds</li>
                        </ul>
                        <p>
                          <strong
                            >Internet technologies and applications</strong
                          >
                        </p>
                        <ul>
                          <li>Ad-hoc networks</li>
                          <li>Big data/Big connectivity</li>
                          <li>Data-mining</li>
                          <li>
                            Distributed systems/High Performance Computing (HPC)
                          </li>
                          <li>e-Business/e-Commerce, e-Learning/e-Society</li>
                          <li>Grid Computing</li>
                          <li>Internet applications and Services</li>
                          <li>
                            Internet hardware and software with algorithms and
                            optimization
                          </li>
                          <li>Internet technologies</li>
                          <li>Music and audio</li>
                          <li>Protocols and standards</li>
                          <li>Robotics</li>
                          <li>Satellite technologies</li>
                          <li>Simulation and Modelling</li>
                          <li>
                            System<span style="letter-spacing: 0.3px">/</span>s
                            failure
                          </li>
                          <li>TrafficTraffic policies/Traffic shaping</li>
                          <li>Visualisation</li>
                          <li>Wireless networks</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-bbfc31b elementor-widget elementor-widget-heading"
                    data-id="bbfc31b"
                    data-element_type="widget"
                    data-widget_type="heading.default"
                  >
                    <div class="elementor-widget-container">
                      <h2
                        class="elementor-heading-title elementor-size-default"
                      >
                        e-Health
                      </h2>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-1f1f8bb elementor-widget elementor-widget-text-editor"
                    data-id="1f1f8bb"
                    data-element_type="widget"
                    data-widget_type="text-editor.default"
                  >
                    <div class="elementor-widget-container">
                      <div class="elementor-text-editor elementor-clearfix">
                        <strong
                          >Medical, Biomedical and Health Informatics</strong
                        >
                        <ul>
                          <li>
                            Electronic medical records (EMR) and electronic
                            prescription
                          </li>
                          <li>
                            Data preprocessing, cleansing, management and mining
                          </li>
                          <li>Data quality assessment and improvement</li>
                          <li>Medical imaging</li>
                          <li>
                            Computer-aided detection, hypothesis generation and
                            diagnosis
                          </li>
                          <li>Evidence-based medicine</li>
                          <li>
                            Evolutionary and longitudinal patient and disease
                            models
                          </li>
                          <li>Clinical workflow</li>
                          <li>Medication adherence and health monitoring</li>
                          <li>Smart health and big data</li>
                        </ul>
                         Devices  
                        <ul>
                          <li>High-confidence medical devices</li>
                          <li>Integration of medical devices with e-Health</li>
                          <li>Medical device interoperability</li>
                          <li>Wearable devices</li>
                          <li>In/on/around-body sensors and actuators</li>
                          <li>Biosensors at the micro/nano-scale</li>
                          <li>Smart garments/textiles</li>
                          <li>Wireless energy transfer</li>
                          <li>Energy harvesting</li>
                        </ul>
                         Communications and Networking  
                        <ul>
                          <li>
                            Communication/network infrastructures, architectures
                            and protocols for e-Health
                          </li>
                          <li>Antennas and propagation</li>
                          <li>
                            Proximity-based communication, group communication
                            and social networks
                          </li>
                          <li>Power-efficient communication</li>
                          <li>Ultra wideband communication</li>
                          <li>
                            Delay-tolerant, fault-tolerant and reliable
                            communication
                          </li>
                          <li>Cognitive communication for medical bands</li>
                          <li>
                            In-hospital networking, body area networking and
                            cloud-integrated networking
                          </li>
                          <li>
                            Software-defined networks and network management
                          </li>
                          <li>Nanoscale/molecular communications</li>
                          <li>Network coding and error detection/correction</li>
                        </ul>
                         Signal/Data Processing and Systems  
                        <ul>
                          <li>Context awareness and situation awareness</li>
                          <li>
                            Image/video processing and computer/robot vision
                          </li>
                          <li>
                            Internet of things, Ambient intelligence and
                            pervasive computing
                          </li>
                          <li>
                            Augmented reality and human-computer interaction
                          </li>
                          <li>Motion detection and activity recognition</li>
                          <li>User modeling and personalization</li>
                          <li>Robotics for e-Health</li>
                          <li>
                            Computing/storage infrastructures for e-Health such
                            as clouds and virtualization
                          </li>
                          <li>
                            Software, systems and performance engineering for
                            e-Health
                          </li>
                        </ul>
                         Services and Applications  
                        <ul>
                          <li>
                            e-Health services/applications for physical and
                            mental health; for example, in acute care, chronic
                            care, mental health care, biomedical engineering,
                            rehabilitation, prosthetics, elderly/nursing care,
                            smart homes and hospitals, and rural/wilderness
                            practice
                          </li>
                          <li>
                            e-Health services/applications for sports and
                            exercise; for example, in training prescription and
                            feedback, concussion detection/monitoring,
                            life-logging and fitness monitoring
                          </li>
                          <li>
                            e-Health services/applications for public health;
                            for example, disease prevention, pandemic
                            preparedness, epidemiological interventions and
                            smart cities
                          </li>
                          <li>
                            e-Health services/applications for extreme
                            environments; for example, in fire fighting,
                            disaster response, evacuation assistance, medical
                            triage, space travel/exploration, deep diving and
                            deep sea exploration
                          </li>
                          <li>
                            Quality of experience (QoE) with e-Health
                            services/applications
                          </li>
                          <li>
                            Security, privacy and trust for e-Health
                            services/applications
                          </li>
                          <li>
                            Emerging cloud-based services/applications including
                            health clouds/grids
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
