.comitee-subtitle {
    z-index: 3;
    margin-top: 80px;
    color: white;
    font-family: font;
    font-size: 62px;
    position: relative;
    text-align: start;
    align-self: flex-start;
    /* padding-left: 30px; */
    overflow: visible;
  }

  .symposia-title {
    font-size: 32px;
    line-height: 38px;
    color: #4bcb5e;
    font-family: font;
    margin-bottom: 10px;
    grid-column: 1 / span 4;
}

.symposia-text {
    font-family: fontEveret;
    margin-top: 16px;
    line-height: 24px;
    grid-column: 1 / span 4;
    color:white;
}

.symposia {
    margin-top: 40px;
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
    display: grid;
    grid-template-columns: auto auto auto 1fr;
    grid-template-rows: auto auto auto;
    grid-column-gap: 60px;
    overflow: visible;
}
.margin{
    margin-bottom: 300px;
}
@media screen and (max-width: 800px) {
    .comitee-subtitle {
      font-size: 27px;
      letter-spacing: 2px;
      justify-content: center;
    }
    .symposia {
      padding-left: 20px !important;
      padding-right: 20px !important;
      grid-column-gap: 10px;
      grid-template-columns: 1fr;
      max-width: 90vw;
  }
  .symposia-title{
      grid-column: 1 !important;
  }
  .symposia-text{
      grid-column: 1 !important;
  }
  .symposia {
      display: grid;
      grid-template-columns: 1fr;
  }
    
  }