<div class="comitee-subtitle" id="sponsors">SYMPOSIA</div>
<div class="container">
    <div _ngcontent-tjl-c5 class="symposias">
        <div _ngcontent-tjl-c5 class="symposia">
            <div _ngcontent-tjl-c5 class="symposia-title">International Symposium on Statistics and Machine Learning in
                Electronics</div>
            <div _ngcontent-tjl-c5 class="symposia-text">
                The aim of the International Symposium on Statistics and Machine Learning in Electronics is to bring
                together young and experienced researchers, students and educators with interests in how statistics,
                machine learning and fuzzy logic could facilitate analysis, design, testing, diagnosis, measurement and
                manufacturing of electronic circuits, modules and devices. Final scientific re- sults and research in
                progress will be presented and discussed, revealing new models, methods, algorithms, techniques, and
                methodologies. The conference is base for forming an international scientific network, spreading new and
                innovative ideas and the best practices. It will distribute the achieved findings during the project
                “Exploration Applications of Statistics and Machine Learning in Electronics”, financed by National
                Scientific Fund. <br _ngcontent-tjl-c5="">
            </div>
            <span _ngcontent-tjl-c5="" style="margin-top: 10px; font-size: 18px; font-family: fontEveret; color:white;"><br
                    _ngcontent-tjl-c5="">Download flyer <a _ngcontent-tjl-c5=""
                    href="../../../assets/24SYM on Statistics and Machine Learning in Electronics.pdf" style="color:#4bcb5e;">here!</a></span>
            <br _ngcontent-tjl-c5="">
            <span _ngcontent-tjl-c5="" style="margin-top: 10px; font-size: 18px; font-family: fontEveret; color:white;">
                <br _ngcontent-tjl-c5="">Submit paper <a _ngcontent-tjl-c5=""
                    href="https://edas.info/newPaper.php?c=31823&track=121751" style="color:#4bcb5e;">here!</a></span>
        </div>
    </div>
</div>