@import url('../chairs/chairs.component.css');
*{
    color:white;
}
.registrations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: fontEveret;
}

.registration {
    margin: 20px;
    display: grid;
    justify-items: center;
    border: 2px solid #4bcb5e;
    border-radius: 10px;
    background-color: #002340;
    margin-top: 40px;

}

.reg-title {
    color: white;
    font-size: 24px;
    font-family: fontEveret;
    background-color: #4bcb5e;
    width: 100%;
    padding: 20px;
    padding-top: 30px;
    text-align: center;
}

.reg-price {
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    color: white;
    font-size: 28px;
    width: 100%;
    font-family: fontEveret;
    background-color: #4bcb5e;
}

.reg-price-small {
    text-align: center;
    color: white;
    padding-bottom: 20px;
    font-size: 14px;
    width: 100%;
    font-family: fontEveret;
    background-color: #4bcb5e;
}

.reg-article {
    font-size: 22px;
    color: white;
    font-family: fontEveret;
    margin-top: 10px;
    text-align: center;
}

.reg-book {
    color: #4bcb5e;
    /* text-decoration: underline; */
    padding: 20px;
    font-size: 28px;
    font-family: fontEveret;
    text-align: center;
}
.reg-book a {
    color: transparent;
}
.paddingDiv{
    margin-bottom: 200px;
}
p{
    font-size: 24px;
    font-family: fontEveret;
}
@media  screen and (max-width:800px) {  
    .reg-article{
        font-size: 18px;
    }
    p{
        font-size: 18px;
    }
}