<div class="comitee-subtitle" id="registration">REGISTRATION</div>
<div class="registrations">
    <div class="registration">
        <div class="reg-title">ACADEMIA / INDUSTRY<br>REGISTRATION</div>
        <div class="reg-price">490,00 €</div>
        <div class="reg-price-small">after May 5 - 590,00 €</div>
        <div class="reg-article">Access to all events</div>
        <div class="reg-article">Bag of goodies</div>
        <div class="reg-article">Social events</div>
        <div class="reg-article">USB Proceedings</div>
        <div class="reg-article">Lunches and Refreshments<br>during the conference</div>
        <div class="reg-book"><a href="https://kviz.typeform.com/Splitech2023">BOOK YOUR TICKET</a> </div>
    </div>
    <div class="registration">
        <div class="reg-title">STUDENT<br>REGISTRATION *</div>
        <div class="reg-price">290,00 €</div>
        <div class="reg-price-small">after May 5 - 390,00 €</div>
        <div class="reg-article">Access to all events</div>
        <div class="reg-article">Bag of goodies</div>
        <div class="reg-article">Social events</div>
        <div class="reg-article">USB Proceedings</div>
        <div class="reg-article">Lunches and Refreshments<br>during the conference</div>
        <div class="reg-book"><a href="https://kviz.typeform.com/Splitech2023">BOOK YOUR TICKET</a></div>
    </div>
    <div class="registration">
        <div class="reg-title">FULL<br>ACADEMIA / INDUSTRY<br>REGISTRATION</div>
        <div class="reg-price">560,00 €</div>
        <div class="reg-price-small">after May 5 - 660,00 €</div>
        <div class="reg-article">Gala dinner</div>
        <div class="reg-article">Access to all events</div>
        <div class="reg-article">Bag of goodies</div>
        <div class="reg-article">Social events</div>
        <div class="reg-article">USB Proceedings</div>
        <div class="reg-article">Lunches and Refreshments<br>during the conference</div>
        <div class="reg-book"><a href="https://kviz.typeform.com/Splitech2023">BOOK YOUR TICKET</a></div>
    </div>
    <div class="registration">
        <div class="reg-title">FULL<br>STUDENT<br>REGISTRATION *</div>
        <div class="reg-price">360,00 €</div>
        <div class="reg-price-small">after May 5 - 460,00 €</div>
        <div class="reg-article">Gala dinner</div>
        <div class="reg-article">Access to all events</div>
        <div class="reg-article">Bag of goodies</div>
        <div class="reg-article">Social events</div>
        <div class="reg-article">USB Proceedings</div>
        <div class="reg-article">Lunches and Refreshments<br>during the conference</div>
        <div class="reg-book"><a href="https://kviz.typeform.com/Splitech2023">BOOK YOUR TICKET</a></div>
    </div>
</div>
<p>* for paper registrations, applicable only if the paper is authored by students-only</p>
